# Pandas 패키지의 소개

Pandas 패키지는 데이터 분석을 할 때 가장 많이 쓰이는 패키지 중의 하나이다. 대부분의 데이터는 시계열이나 표의 형태로 나타낼 수 있는데 Pandas패키지에서는 이러한 표 데이터를 다루기 위한 시리즈 클래스와 데이터 프레임 클래스를 제공한다.

## 시리즈 클래스

시리즈 클래스는 NumPy 에서 제공하는 1차원 배열과 비슷하지만 각 데이터의 의미를 표시하는 인덱스를 붙일 수 있다.

### 시리즈 생성

데이터를 리스트나 1차원 배열 형식으로 Series 클래스 생성자에 넣어주면 시리즈 클래스 객체를 만들 수 있다. 인덱스의 길이는 데이터의 길이와 같아야 한다. 다음 예에서 이 "서울","부산" 등의 문자열이 인덱스의 값이다. 인덱스의 값을 인덱스 라벨이라고도 한다. 인덱스 라벨은 문자열 뿐 아니라 날짜, 시간, 정수 등도 가능하다.

In [5]:
import pandas as pd
s=pd.Series([9904312,3448737,2890451,2466052], index=["서울","부산","인천","대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [2]:
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int32

In [3]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [7]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [11]:
s.name="인구"
s.index.name="도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### 시리즈 연산

시리즈는 NumPy 배열과 동일하게 벡터화 연산을 할 수 있다. 다만 연산을 해도 인덱스 값은 변하지 않는다. 예를 들어 인수를 백만 단위로 만들기 위해 시리즈 객체 전체를 1,000,000으로 나누어도 인덱스 라벨에는 영향을 미치지 않는 것을 볼 수 있다.

In [13]:
s/1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### 시리즈 인덱싱

또한 NumPy 배열에서 가능한 인덱스 방법이외에도 인덱스 라벨을 이용한 인덱싱도 할 수 있다. 배열 인덱싱이나 인덱스 라벨을 이용한 슬라이싱도 가능하다.

In [15]:
s["부산"]

3448737

배열 인덱싱을 하면 자료의 순서를 바꾸거나 특정한 자료만 선택할 수 있다.

In [22]:
s[[0,3,1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [26]:
s[(250e4<s) & (s<500e4)]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [29]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

만약 라벨 값이 영문 문자열인 경우에는 마치 속성인 것처럼 점(.)을 이용하여 접근할 수 있다.

In [36]:
s0 = pd.Series(range(3), index=["a","b","c"])
s0

a    0
b    1
c    2
dtype: int32

In [37]:
s0.b

1

### 시리즈와 사전 자료형

시리즈 객체는 라벨 값에 의해 인덱싱이 가능하므로 실질적으로 라벨 값을 키로 가지는 사전 자료형과 같다고 볼 수 있다.
따라서 사전 자료형에서 제공하는 in 연산도 가능하고 iteritems 메서드를 사용하면 for 루프를 통해 각 원소의 키와 값을 접근할 수도 있다.

In [39]:
"서울" in s
"대전" in s

False

In [40]:
for k,v in s.iteritems():
    print("%s=%d" %(k,v))

서울=9904312
부산=3448737
인천=2890451
대구=2466052

In [42]:
s2 = pd.Series({"서울":9631482,"부산":3393191,"인천":2632035,"대전":1490158},
              index=["부산","서울","인천","대전"])
s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

### 인덱스 기반 연산

이번에는 2015년도와 2010년의 인구 증가를 계산해보자. 두 개의 시리즈의 차이를 구하면 된다. 두 시리즈에 대해 연산을 하는 경우 인덱스가 같은 데이터까지 알아서 차이를 구해 준다. 즉 인덱스 기반으로 연산을 한다.

In [45]:
ds = s-s2
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [53]:
rs = (s-s2)/s2*100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

### 데이터의 갱신, 추가, 삭제

인덱싱을 이용하면 사전처럼 데이터를 갱신하거나 추가할 수 있다.

In [54]:
rs["부산"]=1.63
print(rs)
rs["대구"]=1.41
print(rs)
del rs["서울"]
print(rs)

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64
부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64
부산    1.630000
인천    9.818107
대구    1.410000
dtype: float64

## 데이터 프레임 클래스

시리즈가 1차원 벡터 데이터에 행방향 인덱스를 붙인 것이라면 데이터프레임 클래스는 2차원 행렬 데이터에 인덱스를 붙인 것과 비슷하다. 2차원이므로 행방향 인덱스 뿐 아니라 열방향 인덱스도 붙일 수 있다. 

### 데이터프레임 생성
가장 간단한 방법은 다음과 같이 리스트나 일차원 배열을 값으로 가지고 열방향 인덱스 라벨을 키로 가지는 사전 데이터를 데이터프레임 클래스 생성자에 넣는다. 이 때 열방향 인덱스는 column 인수에, 행방향 인덱스는 index 인수에 지정한다.

In [3]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

앞에서 데이터 프레임은 2차원 배열 데이터를 기반으로 한다고 했지만 사실은 동일한 인덱스를 가지는 열 시리즈를 사전처럼 묶어놓은 것이라고 보는 것이 더 정확하다. 2차원 배열 데이터는 모든 원소가 같은 자료형을 가져야 하지만 데이터프레임은 각 열마다 자료형이 다를 수 있기 때문이다. 위 예제에서도 지역과 인구와 증가율은 각각 문자열, 정수, 부동소수점 실수이다. 
시리즈와 마찬가지로 데이터만 접근하려면 values 속성을 사용한다. 열방향 인덱스와 행방향 인덱스는 각각 column, index 속성으로 접근한다.

In [4]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [58]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [59]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [61]:
df.index.name="도시"
df.columns.name="특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

## 데이터 프레임 열 인덱싱

따라서 데이터 프레임을 인덱싱을 할 때에도 열 라벨을 키값으로 생각하여 인덱싱을 할 수 있다. 인덱스로 라벨 값을 하나만 넣으면 시리즈 객체가 반환되고 라벨의 배열 또는 리스트를 넣으면 부분적인 데이터프레임이 반횐된다.

In [62]:
df["지역"]

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [63]:
df[["2010","2015"]]

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [64]:
df[["지역"]]

특성   지역
도시
서울  수도권
부산  경상권
인천  수도권
대구  경상권

In [65]:
type(df[["지역"]])

pandas.core.frame.DataFrame

데이터 프레임의 열 인덱스가 문자열 라벨을 가지고 있는 경우에는 순서를 나타내는 정수 인덱스를 인덱싱에 사용할 수 없다. 정수 인덱싱의 슬라이스는 뒤에서 설명하겠지만 행을 인덱싱할 때 사용하므로 열을 인덱싱할 때는 쓸 수 없다.

In [67]:
df[0]

KeyError: 0

다만 원래부터 문자열로 된 열 라벨이 주어지지 않아서 정수형 열 인덱스가 만들어진 경우에는 인덱스 정수를 사용할 수 있다.

In [5]:
import numpy as np
df2 = pd.DataFrame(np.arange(12).reshape(3,4))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [74]:
df2[[2]]

    2
0   2
1   6
2  10

### 열 데이터의 갱신, 추가, 삭제
데이터 프레임은 열 시리즈의 사전으로 볼 수 있으므로 열 단위로 데이터를 갱신하거나 추가, 삭제할 수 있다.

In [80]:
df["2010-2015 증가율"]=df["2010-2015 증가율"]*100
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         -134.0          -1.34
부산  경상권  3448737  3393191  3512547  3655437         -340.0          -3.40
인천  수도권  2890451  2632035  2517680  2466338          454.0           4.54
대구  경상권  2466052  2431774  2456016  2473990          -99.0          -0.99

In [79]:
df["2005-2010 증가율"]=((df["2010"]-df["2005"])/df["2005"]*100).round(2)
del df["2010-2005 증가율"]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99          -0.99

## 개별 데이터 인덱싱

데이터 프레임에서 열 라벨로 시리즈를 인덱싱하고 다시 행 라벨로 개별 데이터를 인덱싱할 수 있다.

In [7]:
df["2015"]["서울"]

9904312

## 행 단위 인덱싱

만약 행 단위로 인덱싱을 하고자 하면 항상 슬라이싱을 해야 한다. 시리즈와 같이 라벨 슬라이싱도 가능하다.

In [8]:
df[:1]

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283