# Pandas 인덱서
pandas는 numpy 행렬과 같이 쉼표를 사용한 (행 인덱스, 열 인덱스) 형식의 인덱싱을 지원하기 위해 다음과 같은 특별한 인덱서를 제공한다.

## loc 인덱서
loc 인덱서는 (행 인덱스, 열 인덱스) 형식의 인덱싱을 할 수 있지만 행/열 인덱서들이 모두 다음 중 하나이어야 한다.<br/><br/>
정수 인덱스가 아닌 라벨 값(원래가 정수 인덱스인 경우는 예외)<br/>
라벨 값의 리스트<br/>
라벨 값의 슬라이싱<br/>
불리언 리스트, 1차원 배열, 시리즈 (데이터프레임은 안된다.)<br/>
또는 데이터프레임을 입력으로 받고 위의 값을 반환하는 함수<br/>

In [1]:
import numpy as np
import pandas as pd

In [5]:
df=pd.DataFrame(np.arange(10,22).reshape(3,4),
               index=["a","b","c"],
               columns=["A","B","C","D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [6]:
df.loc["a","A"]

10

In [7]:
df.loc["b":,"A"]

b    14
c    18
Name: A, dtype: int32

In [9]:
df.loc["a",:]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [14]:
df.loc[df.A>10,:]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [15]:
df.loc["a",:]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [16]:
df[:1]

    A   B   C   D
a  10  11  12  13

In [17]:
#df.loc[:,df[:1]<=11] # 데이터 프레임은 loc 인덱서에 넣을 수 없으므로 에러!
df.loc[:,df.loc["a",:]<= 11] # 이렇게 해야한다.

    A   B
a  10  11
b  14  15
c  18  19

In [19]:
def find_rows(df):
    return df.A >12
find_rows(df)

a    False
b     True
c     True
Name: A, dtype: bool

In [20]:
df.loc[find_rows(df),["C"]]

    C
b  16
c  20

In [21]:
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [29]:
#df.loc["e"]=[90,91,92,93]
df
#df.loc[:,"E"]=[90,91,92,93]

    A   B   C   D   E
a  10  11  12  13 NaN
b  14  15  16  17 NaN
c  18  19  20  21 NaN
e  90  91  92  93 NaN

## iloc 인덱서
iloc 인덱서는 loc 인덱서와 반대로 라벨이 아닌 정수 인덱스만 받는다.

In [30]:
df.iloc[0,1]

11.0

In [31]:
df.iloc[:2,2]

a    12
b    16
Name: C, dtype: int64

In [33]:
df.iloc[0,-2:]

D    13.0
E     NaN
Name: a, dtype: float64

In [34]:
df.iloc[2:3,1:3]

    B   C
c  19  20

In [35]:
df.iloc[-1]

A    90.0
B    91.0
C    92.0
D    93.0
E     NaN
Name: e, dtype: float64

In [36]:
df.iloc[-1]=df.iloc[-1]*2
df

       A      B      C      D   E
a   10.0   11.0   12.0   13.0 NaN
b   14.0   15.0   16.0   17.0 NaN
c   18.0   19.0   20.0   21.0 NaN
e  180.0  182.0  184.0  186.0 NaN